MONGO_URI=mongodb+srv://dbUser@cluster0.ap8ghly.mongodb.net/DB
PORT=3000
JWT_SECRET=Hi_My_JWT
REDIS_HOST=redis-abs.com
REDIS_PORT=10002
REDIS_PASSWORD=158kGhsHPk
IMAGEKIT_PUBLIC_KEY=public_PYR5o=
IMAGEKIT_PRIVATE_KEY=private_xzg=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/6cye